

:root {
    --purple: #7c0000;
    --blue: #090886;
    --blue-hovered:rgb(20, 20, 163);
}

body {
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
